<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngIf="isAuthenticated">
      <li class="nav-item" ngbDropdown>
        <div style="cursor: pointer;" class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
          Articles
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a routerLink="/articles/new" ngbDropdownItem>Nouveau</a>
          <a routerLink="/articles"ngbDropdownItem>Liste</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <div style="cursor: pointer;" class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
          Utilisateurs
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a routerLink="/users/new" ngbDropdownItem>Nouveau</a>
          <a routerLink="/users" ngbDropdownItem>Liste</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a style="cursor: pointer;" class="nav-link" (click)="logOut()" *ngIf="isAuthenticated">Déconnexion</a>
      </li>
      <!-- <li class="nav-item">
        <a style="cursor: pointer;" class="nav-link" routerLink="/auth" *ngIf="!isAuthenticated">Connexion</a>
      </li> -->
    </ul>
  </div>
</nav>