.hidden {
  display: none;
}

.ads-box{
  gap:2em;
}

.ads-list {
  background-color: white;
  position: absolute;
  z-index: 100;
  width: 100%;
  box-shadow: 1px 1px lightgray;
  border-radius: 0px 0px 14px 5px
}

.ad {
  border: solid 1px lightgray;
  border-radius: 7px;
  padding: 2em 4em 2em 0;
  background-color: whitesmoke;
  gap: 0.5em;
  align-items: center;
  position: relative;

  .image{
    width: 104px;
  }

  .text{
    font-size: larger;
    text-decoration: none;
  }

  .close {
    position: absolute;
    top: .1em;
    right: .7em;
    font-size: x-large;
    color: gray
  }
}

.ad-list:hover {
  background-color: lightgray;
}

.tiny-form {
  padding: 2em 3em 2em 2em;
  gap: 1em;

  .btn {
    width: 15%;
  }

  .tiny-input {
    border-radius: 8px;
    border: solid 1px lightgray;;
  }

  .tiny-title {
    height:7%;
    font-size:2em;
  }

  .tiny-chapeau {
    height:10%;
  }

}
