<div class="form" style="padding:1em;">
	<div class="row">
    <div class="col">
      <input (keyup)="searchItems($event)" type="text" class="form-control" placeholder="Recherche...">
    </div>
    <div class="col-md-2">
      <select class="form-control" aria-label="Default select example">  
        <option selected value="all">Tous les articles</option>
        <option value="published">Publié</option>
        <option value="pending">En attente</option>
        <option value="draft">En cours</option>
      </select>
    </div>
	</div>
</div>
<!-- <select class="w-25 form-select" aria-label="Default select example" (change)="getArticles(1, $any($event.target).value)"> -->
