<div class="form" style="padding:1em;" [formGroup]="searchForm">
	<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Recherche..." formControlName="search">
    </div>
    <div class="col-md-2">
      <select class="form-control" aria-label="Default select example" formControlName="status">  
        <option selected value="">Tous les articles</option>
        <option value="published">Publié</option>
        <option value="pending">En attente</option>
        <option *ngIf="type==='article'" value="draft">En cours</option>
        <option *ngIf="type==='comment'" value="refused">Refusé</option>
      </select>
    </div>
	</div>
</div>
