<h1>TinyMCE 7 Angular Demo</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="articleForm">
  <input 
    [formControl]="articleForm.controls.title"
    placeholder="Title"
    type="text"/>
  <editor 
    [formControl]="articleForm.controls.content"
    [init]="{   
      base_url: '/tinymce', 
      suffix: '.min',
      plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons accordion',
      menubar: 'file edit view insert format tools table help',
      toolbar: 'save | undo redo | accordion accordionremove | blocks fontfamily fontsize | bold italic underline strikethrough | align numlist bullist | link image | table media | lineheight outdent indent| forecolor backcolor removeformat | charmap emoticons | code fullscreen preview | save print | pagebreak anchor codesample | ltr rtl',
      font_family_formats: 'Arial=arial,helvetica,sans-serif; Courier New=courier new,courier,monospace; AkrutiKndPadmini=Akpdmi-n',
      images_file_types: 'jpg,svg,webp'
  }"
  ></editor>
  <button class="btn btn-primary" mat-raised-button (click)="onSubmit()">
    Submit
  </button>
</form>