<div>
  <label for="">{{type === 'ad' ? 'Publicités' : 'Liens articles'}}</label>
  <input (keyup)="searchItems($event)" (click)="toggleDisplayAllItems()" class="w-100 tiny-input tiny-title" type="text">
  <div [class.hidden]="!displayAdds" class="ads-list">
    <div (click)="addItem(item)" class="ad-list d-flex" *ngFor="let item of allItems">
      <img style="width:43px" [src]="item.image_url" alt="">
      <p [innerHTML]="item.title"></p>
    </div>  
  </div>
</div>
<br>
<div *ngIf="items!.length > 0">{{type === 'ad' ? 'Publicités' : 'Liens articles'}} ajoutés:</div>
<div class="d-flex flex-wrap ads-box">
  <div *ngFor="let item of items" class="ad d-flex" >
    <img class="image" [src]="item.image_url" alt="">
    <a [href]="item.url" class="text" [innerHTML]="item.title"></a>
    <div class="close" (click)="removeItem(item)">X</div>
  </div>
</div>
